
mixin modal() 
  
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title.h3.ttu Обратный звонок
				p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
			+input("Ваше Имя")(required) 
			+input("Ваш телефон","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.INPUT.btn(type="submit" value="Рассчитать") 
			+polite()
		// #modal-call
		
		div(id="modal-thanks" class="  modal-win modal-form" )
			.text-center
				h2.ttu Спасибо!
				p  Мы скоро с Вами свяжемся
		// #modal-thanks

	// modal