extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServises/_sServises.pug 

block variables
	- let  mainPage= 'bg-black'
block title
	- let  title= 'Ярплэй групп'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-nav()
		//- +topLine() 
	+sServises()
	+sForm()
	//- +sContact()
	+footer()
	