mixin mnu()
	-
		var nav= {
			"Услуги": "#",
			"О компании": "#",
			"Кейсы": "#",
			"Контакты": "#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
mixin mnu2()
	-
		var nav= {
			"Услуги":"#",
			"О компании":"#",
			"Кейсы":"#",
			"Контакты":"#",
			}
	+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu